<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <%= error.msg %>
        <div class="alert alert-danger bg-white text-danger" role="alert">
            <%= error %>
        </div>
    <% }); %>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert alert-danger" role="alert">
        <strong>
            <%= error_msg %>
        </strong>
    </div>
<% }%>

<% if(error != '') { %>
    <div class="alert alert-danger" role="alert">
        <strong>
            <%= error %>
        </strong>
    </div>
<% }%>
